*.sw[ponm]
.stack-work
dist
.cabal-sandbox
cabal.sandbox.config
*.hi
*.o
.history
docs/build
venv
.uplink
*.vo
*.glob
*.log

*.csr

*.deb
*.rpm
*.tgz
*.asc

*.png
*.dot

packages/*.asc
packages/debian/uplink/
packages/debian/uplink/
packages/debian/uplink-1.0/
packages/debian/uplink-1.0/

uplink.cabal

uplink*/
node*/
tmp/
